/* styles.css or Login.css */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: #f7f8fc;
    color: #333;
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-box {
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
  }
  
  .login-box h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .login-box form {
    display: flex;
    flex-direction: column;
  }
  
  .login-box input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .login-button {
    background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .login-button:hover {
      background: linear-gradient(135deg, #2575fc 0%, #6a11cb 100%);
  }
  
  /* Success message (green) */
  .message.success {
    margin-top: 10px;
    color: green;
  }
  
  /* Error message (red) */
  .message.error {
    margin-top: 10px;
    color: red;
  }
  
  .signup-link {
    margin-top: 20px;
    font-size: 14px;
  }
  
  .signup-link .link {
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
  }
  
  .signup-link .link:hover {
    color: #0056b3;
  }
  
  .guest-login-button {
    background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
    border: none;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    border-radius: 5px;
  }
  
  .guest-login-button:hover {
    background: linear-gradient(135deg, #2575fc 0%, #6a11cb 100%);
  }
  